In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [3]:
def predict(X, param):
    """Predicts the target values given the input data and the learned parameters."""
    return param * X

def mean_squared_error(y_pred, y_true):
    """Computes the mean squared error between the predicted and true target values."""
    return (np.sum(y_true - y_pred) ** 2) / len(y_pred)
    
def plot_regression_line(X, y, param):
    """Plots the regression line and the scatter plot of the data."""
    plt.scatter(X,y)
    plt.plot(X, predict(X, param))
    return 0

def gradient_descent(X, y, param, learning_rate, num_iterations):
    """Runs gradient descent to learn the parameters of the linear regression model."""
    m = 0
    c = 0
    for i in range(num_iterations):
        Y_pred = m*X + c
        D_m = (-2/n) * sum(X * (Y - Y_pred))  # Derivative wrt m
        D_c = (-2/n) * sum(Y - Y_pred)  # Derivative wrt c
        m = m - L * D_m  # Update m
        c = c - L * D_c  # Update c
    
    return m, c

In [9]:
# Load or generate the data and make sure is somehow showing a linear behaviour. 
# This step should be reproducible so use a random seed
random.seed(0)
X = pd.DataFrame({'X': np.random.rand(100)})
X.head(5)

          X
0  0.095612
1  0.599100
2  0.647998
3  0.326344
4  0.327099

In [10]:
# Add a column of ones to X
X['1'] = 1
X

           X  1
0   0.095612  1
1   0.599100  1
2   0.647998  1
3   0.326344  1
4   0.327099  1
..       ... ..
95  0.963999  1
96  0.236057  1
97  0.499923  1
98  0.685600  1
99  0.521834  1

[100 rows x 2 columns]

In [ ]:

# Initialize the parameters


# Set the hyperparameters

# Run gradient descent

# Plot the cost function

# Plot the regression line